<div class="container mt-5">
  <h1>Index</h1>
  <ul>
    <% @tasks.each do |task|  %>
      <li>
        <p>
          <% if task.completed? %>
            <i class="fa-regular fa-square-check"></i>
          <% else %>
            <i class="fa-regular fa-square"></i>
          <% end %>
            <%= link_to task.title, task_path(task)  %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
